@use './colors.scss' as c;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap');

$text: 1.1em;
$header: 3em;
$font-family: 'Roboto', sans-serif;

$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

body,
a,
p,
h1,
h2,
h3,
h4,
input {
  font-family: $font-family;
  color: c.$text;
}

a,
p,
input {
  font-weight: $regular;
}

a {
  color: c.$purple;
}
